# Ignore CloudFormation parameters JSON file
parameters

# Ignore other sensitive files
*.pem
*.key
*.crt

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE specific files
.vscode/
.idea/
